:root{
  --color1: #4ABEBD;
  --color2:  #C1D65F;
  --color3: #9DA2A8;
  --color4:  #BFDF32;
}

*{
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  background-color: #E6EFF6;
}


section{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Main-contenair{
  height: 475px;
  width: 635px;
  background-color: #FFF;
  border-radius: 15px;
  overflow: hidden;
}

/* ONE */

.box-one{
  height: 216px;
  padding: 46px 80px 0 41px;
}

.box-one>h1{
  font-size: 1.45em;
  color: var(--color1);
  margin-bottom: 28px;
}

.box-one>:nth-child(2){
  font-size: 1.08em;
  color: var(--color2);
  font-weight: bold;
  padding-bottom: 17px;
}

.box-one>:nth-child(3){
  font-size: 1em;
  color: var(--color3);
  line-height: 1.5em;
}

/* TWO */

.box-two{
  display: flex;
  height: 259px;
  color: #FFF;
  flex-wrap: wrap;
}

/* Box-Price */

.price{
  background-color: #2BB3B1;
  width: 50%;
  padding: 44px 40px 0 39px;
}

.price>:nth-child(1){
  font-size: 1.25em;
  font-weight: 400;
  padding-bottom: 23px;
}

.price>:nth-child(2){
  display: flex;
}

.price>:nth-child(2)>:nth-child(1){
  font-size: 2em;
  font-weight: bold;
  padding-bottom: 13px;
}

.price>:nth-child(2)>:nth-child(2){
  margin-top: 8px;
  padding-left: 15px;
  opacity: 40%;
}

.price>:nth-child(3){
  font-size: 1em;
  padding-bottom: 33px;
}

.btn{
  height: 43px;
  width: 237px;
  background-color: var(--color4);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn>p{
  font-size: 1.1em;
  -webkit-user-select: none;
}

.btn:active{
  background-color: #D3DF32;
}

.btn: hover{
  cursor: pointer;
}

/* Box Question */

.question{
  background-color: var(--color1);
  width: 50%;
  padding: 44px 0 0 39px;
}

.question>h1{
  font-size: 1.2em;
  margin-bottom: 24px;
}

.question>p{
  font-size: 0.85em;
  line-height: 1.5em;
}

@media(max-width: 1200px){
  
section{
  padding-top: 25px;
  padding-bottom: 25px;
}

.Main-contenair{
  width: 311px;
  height: auto;
}

.box-one{
  height: 267px;
  padding: 33px 0 0 24px;
}

.box-one>:nth-child(3){
  font-size: 0.9em;
}

.box-two{
  height: auto;
}

.price{
  width: 100%;
  height: 260px;
}

.question{
  width: 100%;
  height: 260px;
}

}